.additional {
  padding-top: 32px;
  padding-bottom: 40px;
}

.additional-goods {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__header {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__item {
  margin-top: 0;
  padding-top: 16px;
  padding-bottom: 18px;
}

.additional-goods__header {
  margin-top: 0;
  font-size: 16px;
  line-height: 16px;
  color: @medium-black;
  text-transform: uppercase;
}

.additional-goods__properties {
  width: 100%;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 14px;
  color: @light-black;
  font-family: "Arial", Helvetica, sans-serif;
}

.additional-goods__properties-right {
  text-align: right;
}
