.additional {
  padding-top: 32px;
  padding-bottom: 40px;
}

.additional-goods {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__header {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__item {
  margin-top: 0;
  padding-top: 16px;
  padding-bottom: 18px;
}

.additional-goods__header {
  margin-top: 0;
  font-size: 16px;
  line-height: 16px;
  color: @medium-black;
  text-transform: uppercase;
}

.additional-goods__properties {
  width: 100%;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 14px;
  color: @light-black;
  font-family: "Arial", "Helvetica", sans-serif;
}

.additional-goods__properties-right {
  text-align: right;
}

.additional__bonus {
  padding-top: 190px;
  padding-bottom: 46px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.bonus__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
}

@media (min-width: @tablet) {
  .additional-goods__item {
    padding: 28px 37px 27px;
  }

  .additional__bonus {
    padding: 74px 0 72px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }
}

@media (min-width: @desktop) {
  .additional-goods {
    width: 895px;
  }
  .additional__wrapper {
    display: flex;
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    align-items: center; //перепроверить эффект свойства
    padding: 16px 0;
  }

  .additional-goods__header {
    width: 245px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__properties {
    width: 285px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__item-button {
    width: 245px;
  }

  .additional__bonus {
    width: 245px;
    margin-left: auto;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }
}
