.catalog {
  padding-top: 32px;
  padding-bottom: 44px;
}

.list-products {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__header {
  font-size: 36px;
  line-height: 60px;
}

.list-products__item {
  padding-bottom: 24px;
}

.products-description__header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.table-properties {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: @light-black;
  font-family: "Arial", Helvetica, sans-serif;
}

.list-products__item-wrapper {
  display: flex;
}

.list-products__item-img-wrapper {
  width: 50%;
}

.list-products__item-description {
  width: 50%;
  padding-top: 26px;
  padding-bottom: 26px;
}

.table-properties__right-column {
  text-align: right;
}
