.description {
  width: 100%;
  padding-top: 34px;
  padding-bottom: 50px;
}
.description__header {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 48px;
}

.description__item {
  font-size: 14px;
  line-height: 18px;
  margin-left: 81px;
  margin-bottom: 34px;
  color: @light-black;
  font-family: "Arial", Helvetica, sans-serif;

  &:last-child {
    margin-bottom: 0;
  }
}

