.instance {
  padding-top: 34px;
  padding-bottom: 40px;
  background-color: @grey;
}

.instance__header {
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 40px;
}

.instance__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
  color: @light-black;
  font-family: "Arial", Helvetica, sans-serif;
}

.facts__header {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.facts__text {
  font-size: 12px;
  line-height: 12px;
  color: @light-black;
  text-transform: uppercase;
  font-family: "Arial", Helvetica, sans-serif;
}

.instance__expenses {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.compare {
  text-align: center;
}

.compare__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
