.main-nav {
  margin: 0 auto;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.nav-list {
  .list-reset;
}

@media (min-width: @tablet) {
  .main-nav {
    width: auto;
    margin: 0;
    margin-left: auto;
  }
}

