.page-form__header {
  margin-bottom: 25px;
  padding-top: 15px;
  font-size: 36px;
  line-height: 60px;
}

.blocks-header {
  display: inline-block;
  margin: 0;
  padding-right: 24px;
  font-size: 24px;
  line-height: 24px;
  background-color: @white;
}

.page-form__paragraph {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-form input,
.page-form label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
}

.page-form label {
  color: @medium-black;
  cursor: pointer;
}

.page-form input {
  padding: 12px 14px;
  color: @light-black;
  outline: none;
}

.page-form input:focus,
.page-form input:active {
  border: 2px @light-black solid;
}

.page-form input:focus + .owner-contacts__mail-icon path,
.page-form input:active + .owner-contacts__mail-icon path {
  fill: @green;
}

.page-form input:focus + .owner-contacts__phone-icon path,
.page-form input:active + .owner-contacts__phone-icon path {
  fill: @green;
}

.page-form input:invalid:not(:focus):not(:placeholder-shown) {
  border: 2px #ff8282 solid;
}

.page-form input:invalid:not(:focus):not(:placeholder-shown) + .owner-contacts__mail-icon path,
.page-form input:invalid:not(:focus):not(:placeholder-shown) + .owner-contacts__phone-icon path {
  fill: #ff8282;
}

.page-form input[placeholder] {
  color: #444444;
}

@media (min-width: @tablet) {
  .form {
    overflow: hidden;
  }

  .page-form input {
    padding: 10px 16px;
  }

  .page-form input,
  .page-form label {
    font-size: 20px;
    line-height: 20px;
  }

  .page-form__header {
    margin-bottom: 55px;
    padding-top: 33px;
    font-size: 60px;
    line-height: 60px;
  }

  .page-form__paragraph {
    margin-bottom: 65px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .page-form h2 {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop) {
  .page-form__header {
    // max-width: 1300px;
    margin: 0 auto 55px;
    padding-top: 22px;
  }

  .page-form__paragraph {
    max-width: 1300px;
    margin: 0 auto 65px;
    padding: 0 40px;
  }
}
