.page-form__header {
font-size: 36px;
line-height: 60px;
}

.page-form h2 {
font-size: 24px;
line-height: 24px;
}

.page-form__paragraph {
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}

.page-form input,
.page-form label {
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
}

.comment__text {
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
}

.additional-section__label {
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
}
