.show-more {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 79px;
  padding-bottom: 22px;
}

.show-more::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 2px;
  left: 50%;
  top: 40px;
  background-color: @grey;
  transform:translateX(-50%);
}

.show-more::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 2px;
  top: 40px;
  left: 50%;
  background-color: @grey;
  transform: rotate(90deg) translateY(750%);
}

.show-more__header {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: @light-black;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
}

@media (min-width: @tablet) {
  .show-more::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    top: 84px;
    background-color: @grey;
  }

  .show-more::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    top: 84px;
    left: 50%;
    background-color: @grey;
    transform: rotate(90deg) translateY(1500%);
  }

  .show-more {
    position: relative;
    padding-top: 164px;
    padding-bottom: 0;
  }


  .show-more__header {
    width: 60%;
    margin-bottom: 28px;
    font-size: 20px;
  }

  .show-more__text {
    width: 70%;
    margin-bottom: 87px;
    font-size: 16px;
  }
}

@media (min-width: @desktop) {
  .show-more__header {
    width: 80%;
    margin-bottom: 23px;
  }

  .show-more__text {
    width: 100%;
    line-height: 20px;
    margin-bottom: 83px;
  }
}
